* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Archivo", sans-serif;
    background-color: #F2EFE7;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f2efe7;
}

nav > div {
    display: flex;
    gap: 25px;
}

nav > div > a {
    color: #16202b;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8rem;
    text-transform: uppercase;
}

nav > a {
    color: #16202b;
    text-decoration: none;
    font-weight: bold;
}

.anchor-contact {
    color: #3368A0;
}

header {
    padding: 100px 0 0 35px;
    color: #16202b;
}

.subtitle {
    text-transform: uppercase;
    color: #3368A0;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.description {
    font-size: 1.5rem;
    margin-bottom: 50px;
}

h1 {
    font-size: 115px;
    font-weight: 800;
    margin-bottom: 30px;
}

header > div > a {
    display: inline-block;
    padding: 20px;
    height: 50px;
    text-decoration: none;
}

header > div {
    display: flex;
}

.anchor-touch {
    background-color: #3368A0;
    color: #F2EFE7;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.anchor-github {
    font-size: 0.8rem;
    border: 2px solid black;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 12px;
    color:#16202b;
}

#about {
    display: grid;
    margin-top: 50px;
    padding-top: 50px;
    grid-template-columns: repeat(3, 1fr);
}

#about > div {
    height: 115px;
    border: 2px solid black;
    border-left: 0;
    padding: 25px 0 0 25px;
}

#projects > h2 {
    margin: 75px 0 0 50px;
}

#projects > p {
    margin: 20px 0 0 50px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    gap: 20px;
}

.projects-container > div {
    height: 275px;
    border: 2px solid black;
    padding: 30px;
}

.sub-text {
    font-size: 0.8rem;
    font-weight: 600;
    color: #66a3bf;
}

.projects-container span {
    font-size: 3rem;
    font-weight: bold;
    color: #66a3bf;
}

.projects-container-1 *, .projects-container-2 *, .projects-container-3 * {
    padding: 15px;
}

.projects-container-1:hover {
    background-color: #c8dfdb;
}


#skills > h2 {
    margin: 75px 0 0 50px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 450px;
    padding: 40px;
    gap: 20px;
    background-color: #c8dfdb;
    margin-top: 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 100px;
    gap: 50px;
}

.skills-container-2, .skills-container-3 {
    border-top: 2px solid black;
    margin-top: 152px;
    padding-top: 15px;
}

.skills-container-1 > h2 {
    margin-bottom: 50px;
    margin-top: 50px;
}

.sub-skills {
    font-size: 0.8rem;
    color: #3368A0;
    font-weight: 600;
    letter-spacing: 2px;
}

li {
    list-style-type: none;
    margin-top: 16px;
    font-size: 1.2rem;
}

#path > h2 {
    margin: 75px 0 50px 50px;
}

.path-container {
    margin: 0 50px 75px 50px;
}

.path-container div {
    height: 100px;
    border-top: 2px solid black;
}

.path-container-1, .path-container-2, .path-container-3 {
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 15px;
}

.path-container span {
    font-weight: 600;
    letter-spacing: 2px;
    color: #3368A0;
}

.path-container h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.path-container p {
   color: #3d4a58;
}

#contact {
    margin: 75px 0 50px 0;
    height: 500px;
    background-color: #3368A0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 100px 0 0 50px;
    color: #F2EFE7;
}

#contact a {
    text-decoration: none;
    color: #F2EFE7;
    border-left: 2px solid #3d4a58;
    height: 100px;
    margin-top: 100px;
    padding: 25px 0 0 25px;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 25px;
}

#contact a:hover {
    background-color: #274f7b;
}

.contact-span {
    display: block; 
    margin-bottom: 15px; 
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 2px;
}